<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Exhibit</title>
    <link rel="stylesheet" href="/css/foundation.min.css" />
    <%= yield_content :css %>
    <%= yield_content :js %>
  </head>
  <body>
    <div class="row">

      <h1><a href="/">Exhibit - Image manager</a></h1>
      <p>The current user is <%= @user %>.</p>

      <nav class="top-bar">
        <ul>
          <li>
            <a href="/sessions/new">New session</a>
          </li>
          <li>
            <a href="/images">Images</a>
          </li>
          <li>
            <a><%= @height %></a>
          </li>
          <li>
            <a>
              The current environment is: <em><%= @environment %></em>
            </a>
          </li>
        </ul>

      </nav>

      <% if @message %>
        <p>You have a message:</p>
        <blockquote>
          <%= @message %>
        </blockquote>
      <% end %>
      <%= yield %>

  </div>
</body>
</html>
